

.btn-menu{
    margin-top: 35px;
    height:700px;
    width:200px;
    overflow: auto;
    display: none;
      overflow-x: hidden;
   
   
    
    
}
.btn-items{
    list-style-type:none;
}

i{
    font-size: 18px;
    color:black;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 525;
    display: inline-block;
    
    margin: 10px; 
    margin-left: -60px;

    
   
}

.main{
    

  
    /* border-bottom: 1px solid grey; */

}


.nav-subscription{
    display: inline-block;
    margin-top: 10px;
    margin:5px;
    
    height: 280px;
    width: 180px;
  
}

.nav-content{
    display: inline-block;
    margin-top: 10px;
    margin:5px;
   
    height: 360px;
    width:180px;
  

}

span{
    display: block;
    margin-top: -22px;
    margin-left: 30px;
}

.nav-explore{
    display: inline-block;
    margin-top: 10px;
    margin:5px;
   
    height: 200px;
    width:180px;

}

.nav-more{
    display: inline-block;
    margin-top: 10px;
    margin:5px;
   
    height: 170px;
    width:180px;

}


hr{
    margin-left: -40px;
}

.btn-nav{
    width:230px;
  
}

.btn-nav:hover .btn-menu{
    display:block;
}

a:hover{
    background-color:  #caced6;
    width:180px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
}