@media only screen and (min-width:720px){

.navbar{
    position:sticky;
    top:0px;
    /* z-index:10;
    position: absolute; */
    background-color: white;
    display:flex;
    flex-direction:row ;
    justify-content: space-evenly;
}

.nav-img{
    height:60px;
    width:100px;
   
}

.nav-items{
    display:inline-block;
    
}

.nav-link{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 20px;
    
}

.container-home{
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
    align-items: center;
    height: 600px;
   
     
    
}

.img-home{
    height: 500px;
    width:720px;
}

.myh2{
    padding-left: 40px;
}

.img{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    .p-about{
        display: inline-block;
    }
}

.img-about{
     height: 180px;
    width: 150px;
    border: none;
    border-radius: 10px;
}    

.p-about{
    width:550px;
    font-size: 19px;
    
    
}

 .about-award{
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    
}




.s1{
    border: 2px solid gray;
    border-radius: 50px;
    width:150px;
    height: 200px;
    
    font-size:15px;
    padding: 20px;
    
}
button{
    border-radius:20px ;
    
}
.myh3{
    position: relative;
    left:5px;
    font-size: 14px;
}
.p{
    margin-left: 5px;
    font-size: 12px;
}
.s2{
    border: 2px solid gray;
    border-radius: 50px;
    width:150px;
    height: 200px;
    
    font-size:15px;
    padding: 20px;
    
}
.s3{
    border: 2px solid gray;
    border-radius: 50px;
    width:150px;
    height: 200px;
    font-size:15px;
    padding: 20px;
    
}

.img-award{
    height: 120px;
    width:120px;
    
}
}

} 