*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#mainnav{
    /* border: 2px solid; */
    height: 64px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: sticky;
    top: 0%;
}

#mainnav div{
    /* border: 2px solid red; */
    width: 550px;
    
}
#mainnav ol{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#n1{
    font-size: 25px;
    letter-spacing: -2px;
}
#mainnav div+div>ol{
    /* font-size: 15px; */
    justify-content: flex-end;
    gap: 4%;
}
#btn1{
    /* border: 2px solid green; */
    height: 33px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: black;
   padding: 6px;
    

}

#subnav{
    /* border: 2px solid; */
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#subnav div{
    /* border: 2px solid red; */
    width: 30%;
}
#subnav div+div{
    width: 45%;
}
#subnav ol{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    font-size: 13px;
}

#subnav h2{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -2px;
}

main{
    /* border: 2px solid; */
    height: 600px;
    display: flex;
    justify-content: space-around;
}
main section,#as1{
    /* border: 2px solid red; */
    height: 550px;
    width: 35%;
}
main #as1{
    height: 550px;
    width: 45%;
    border-radius: 18px;
}
main img{
    height: 550px;
    width: 100%;
}
main h1{
    font-size: 55px;
    word-spacing:3%;
    letter-spacing: -2px;
}
main h3{
     /* border: 2px solid red; */
     height: 50px;
     align-content: center;
     width: 45%;
     border-radius: 25px;
     background-color: lightgrey;
     padding: 8px;
}
main article{
    /* border: 2px solid red; */
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    padding: 8px;
    input{
        width:80%;
        height: 45px;
        border: none;
        background-color: lightgrey;
    }
    input::placeholder{
        font-size: 18px;
        text-indent: 10px;
        
    }
}
main button{
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
#square{
    border: 2px solid;
    height: 15px;
    width: 15px;
}

#sec1{
    /* border: 2px solid; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    
}

#sec1 h1{
    /* border: 2px solid; */
    width: 85%;
}
#sec1 div{
    /* border: 2px solid red; */
    height: 150px;
    width: 310px;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 13px;

}
#sec1 p{
    font-size: 13px;
    /* border: 2px solid green; */
    width: 190px;
    line-height: 20px;
}
#sec1 aside{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    width: 85%;
    /* border: 2px solid; */
}
#sec1 button{
    border-radius: 25px;
    background-color: white;
    width: 70px;
    height: 35px;
    font-size: 15px;
    border: none;
}
#sec1 article{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
#sec1 h3{
    font-size: 18px;
    font-weight: 500;
}
#sec1 img{
    height: 120px;
    width: 150px;
    border-radius: 15px;
}

#sec2{
    /* border: 2px solid; */
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#sec2 section{
    /* border: 2px solid green; */
    width: 90%;
    display: flex;
    gap: 5%;
    justify-content: center;
    height: 450px;
    align-items: flex-end;
}
#sec2 div{
    /* border: 2px solid red; */
    height: 430px;
    width: 60%;
    border-radius: 10px;
}
#sec2 div+div{
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgb(255, 255, 255);
    /* height: 300px; */
    article{
        display: flex;
        gap: 0px;
    }
    aside{
        /* border: 2px solid; */
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: 25%;
        width: 40px;
    }
    img{
        height: 20px;
    }
    ol{
        /* border: 2px solid grey; */
        width: 80%;
        list-style: none;
        height: 300px;
        /* padding-left: 30px; */
        display: flex;
        flex-direction: column;
        gap: 17%;
    }
    font{
        border-bottom: 1px dotted grey;
    }
}
#sec2 h1{
    /* border: 2px solid; */
    width: 85%;
}
#sec2 div:first-of-type{
    background-image: url('./assets/sec21.png');
    background-repeat: no-repeat;
    background-position: 120%;
    background-size: contain;
    background-color: rgb(157, 205, 214);
    padding-left: 30px;
}
#sec2 section span{
    color: grey;

}
#sec2 h1{
    font-size: 40px;
}
#sec2 h2{
    font-size: 35px;
    /* border: 2px solid red; */
    width: 380px;
}
#sec2 h4{
    font-size: 20px;
    font-weight: 500;
}
#sec2 article{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    height: 50px;

    aside{
        /* border: 2px solid green; */
        background-color: white;
        padding: 8px;
        border-radius: 5px;
        width: 180px;
        input{
            height: 40px;
            border: none;
            width: 110px;
        }
    }
}
#s1{
    display: inline-block;
    width: 33%;
   
}
#sec2 input::placeholder{
    font-size: 18px;
    text-indent: 13px;
}
#sec2 button{
    /* border: 2px solid red; */
    height: 45px;
    width: 52%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
}

#sec3{
    border: 2px solid;
    height: 500px;
    display:flex ;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

#sec3 div{
    /* border:2px solid red; */
    height: 200px;
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
}

#sec3 h2{
    /* border: 2px solid green; */
    width: 70%;
    font-size: 35px;
    color: white;
}

#sec3 p{
    /* border: 2px solid green; */
    width:70%;
    font-weight: 500;
    line-height: 25px;
    color:white;
}

#sec3 aside{
    /* border: 2px solid red; */
    width:70%;

}
#sec3 img{
    width:400px;
    height: 400px;
}

#sec3 button{
    height: 50px;
    width: 120px;
    background-color: white;
    color:black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;

}

#sec4{
    /* border:2px solid ; */
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sec4 div{
    /* border: 2px solid red; */
    width:40%;
    height: 400px;
}

#sec4 div+div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#sec4 h1{
    /* border: 2px solid green; */
    width: 110%;
    font-size: 35px;

}

#sec4 p,span{
    width: 110%;
}

#sec4 span{
    text-decoration: underline;
}

#sec4 img{
    height: 90%;
    width:110%;
}

#sec5{
    /* border: 2px solid; */
    height:700px;
}

#sec5 aside{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */


}

#sec5 div{
    /* border: 2px solid green; */
    height: 600px;
    width: 330px;
    display: flex;
    flex-direction: column;
    gap:20px;
}


#sec5 img{
    width:360px;
}

#sec5 h3{
    font-size: 20px;
    font-weight: 500;
}

#sec5 p{
    width:110%;
    font-size: 17px;
    line-height: 25px;
}

#sec5 button{
    width: 60%;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;
}

#sec5 h1{
    /* border: 2px solid red; */
    width:64%;
    text-align: center;
}

#sec6{
    /* border: 2px solid; */
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

#sec6 div{
    /* border: 2px solid red; */

    height: 450px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

#sec6 h2{
    /* border: 2px solid green; */
    width: 70%;
    font-size: 40px;
    color: white;
}

#sec6 p{
    /* border: 2px solid green; */
    width: 70%;
    line-height: 25px;
    color: white;
    font-size: 18px;
 }

#sec6 ul{
    color: white;
    /* border: 2px solid ; */
    width: 60%;
    line-height: 40px;
    li{
        text-decoration: underline;
        font-size: 17px;
    }
} 

#sec6 aside{
    /* border: 2px solid red; */
    width: 70%;
}

#sec6 button{
    height: 50px;
    width: 120px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

#sec6 span{
    color: white;
    /* border: 2px solid; */
    width: 200px;
    display: inline-block;
    text-align: center;

    font-size: 16px;

}
#sec6 img
{
    width:530px;
    height: 330px;
}

#sec7{
    /* border: 2px solid; */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#sec7 aside{
    /* border: 2px solid red; */
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#sec7 div{
    /* border: 2px solid green; */
    width: 100%;
    border-bottom: 1px solid lightgray;

    summary{
        height: 50px;
        list-style: none;
        font-size: 16px;
        font-weight: 600;
        padding: 10px;
        b{
            float: right;
        }
    }
    p,span{
        padding: 10px;
    }
}

#sec7 h1{
    /* border: 2px solid red; */
    width: 85%;
    font-size: 35px;
}

#sec8{
    /* border: 2px solid; */
    height: 450px;
    background-color: #f6f6f6;
}

#sec8 aside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sec8 div{
    padding: 20px;
    /* border: 2px solid red; */
    height: 200px;
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

#sec8 article{
    /* border: 2px solid green; */
    width: 900%;
}

#sec8 img{
    height: 150px;
    width: 150px;
}

#sec8 div+div>h2{
    width: 500%;
    /* border: 2px solid red; */
    font-size: 25px;
}

#sec8 p{
    font-size: 18px;
}

#sec8 h1{
    /* border: 2px solid red; */
    width: 31%;
    text-align: end;
    font-size: 35px;
}

footer{
    border: 2px solid;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: black;
    color: white;
}

footer h2,h3{
    /* border: 2px solid red; */
    width: 85%;
}

footer h3{
    font-size: 25px;
    letter-spacing: -2px;
    font-weight: 500;
}

footer h2{
    font-size: 18px;
    font-weight: 400;
}

footer aside{
    /* border: 2px solid red; */
    width: 85%;
    height: 300px;
    display: flex;
    gap: 15%;
}

footer ol{
    list-style: none;
    li{
        line-height: 35px;
    }
}

footer ol>li:first-child{
    font-size: 20px;
    font-weight: 500;
}

footer section{
    /* border: 2px solid red; */
    height: 100px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;
    display: flex;
    /* border: 2px solid green; */
    width: 15%;
    justify-content: space-between;
    color: white;
}

footer button{
    height: 40px;
    width: 120px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

footer button:hover{
    background-color:rgb(27, 21, 21)
}

footer article{
    /* border: 2px solid red; */
    height: 100px;
    width: 85%;
}

footer img{
    width: 150px;
    height: 60px;
}