
.img-logo{
    width:130px;
    height: 90px;
    padding-left: 25px;
  
    
}

td{
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-size: 12px;
    color: rgb(86, 82, 82);;
   
}

i{
    font-size: 22px;
    margin-bottom: 5px;
}
button{
    width: 120px;
    height: 45px;
    border-radius: 25px;
    background: white;
    
}
.btn-sign{
    border: 2px solid #0a66c2 ; 
    color:#0a66c2;
    font-size: 15px;
    font-weight: 600;

}
.btn-join{
    background-color: #0a66c2;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    

}

.nav{
    
   margin-left: 350px;
  
   margin-top: -80px;
}
.head{
    margin-top: 60px;
    font-size: 50px;
    font-weight: 100px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
/* .btn-join{
    border-radius: 25px;
    width: 120px;
    padding: 8px;
    /* margin-left: 850px;
    margin-top: -290px; 
}
.btn-sign{
    border-radius: 25px;
    width: 100px;
    padding: 10px;
    /* margin-left: 1000px;
    margin-top: -290px; 
} */
.container1{
    width:500px;
    margin-left: 30px;
}
.img-goo{
    
 height: 18px;
    width: 20px;
}
.btn-google{
   padding: 10px;
   text-align: center;
   border-radius: 35px;
   width: 420px;
   font-size: 20px;
   background-color: #fff;

}
.img-micro{
    
 height: 18px;
    width: 20px;
}
.btn-microsoft{
   padding: 10px;
   text-align: center;
   border-radius: 35px;
   width:420px;
   font-size: 20px;
   background-color: #fff;

}
.btn-email{
   padding: 10px;
   text-align: center;
   border-radius: 35px;
   width: 420px;
   font-size: 20px;
   background-color: #fff;

}

.container2{
    margin-left: 620px;
    margin-top: -530px;
}

.img-bg
{
    height: 700px;
    width: 700px;
}

body{
    overflow-x: hidden;
}

a{
    width:10px;
}

.p-click{
    margin-top:25px;
    font-size: 13px;
    color:rgb(98, 96, 96);
   
    margin-left:35px;
}

.myh4{
    margin-left: 120px;
     margin-top: 350px;
     font-weight: 600px;
     

}